<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
  <connectionStrings>
    <add name="CS" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\Studen 2\source\repos\Network\WindowsFormsApp1\WindowsFormsApp1\Person.mdf;Integrated Security=True"/>
  </connectionStrings>
</configuration>